Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/FirstPerson/Blueprints/BP_Pickup_Rifle.uasset
Content/FirstPerson/Blueprints/BP_Pickup_Rifle.uasset
Content/FirstPerson/Blueprints/BP_Pickup_Rifle.uasset
Content/FirstPerson/Blueprints/BP_Weapon_Component.uasset
